[java]
java_xmx=3096
jarfile=spongevanilla-1.10.2-5.0.0-BETA-84.jar
jar_args=nogui
java_xms=1024
java_tweaks="-XX:+UseFastAccessorMethods -XX:+AggressiveOpts -XX:+DisableExplicitGC -XX:+UseAdaptiveGCBoundary -XX:MaxGCPauseMillis=500 -XX:SurvivorRatio=16 -XX:+UseParallelGC -XX:UseSSE=3 -XX:ParallelGCThreads=4"

[onreboot]
start=true

[minecraft]
profile=SpongeVanilla-1.10.2b84
unconventional=false
commit_interval=30
broadcast=true
